#wrapper
  %ul.nav.navbar-nav.side-nav.collapse-side-bar.collapse.navbar-collapse
    %li
      %a{ href: '#' } Пользователи
    %li
      %a{ href: '#' } Регионы
    %li
      %a{ href: '#' } Города
    %li
      %a{ href: '#' } Районы
    %li
      %a{ href: '#' } Категории
    %li
      %a{ href: '#' } Типы
