#sidebar-wrapper
  %ul.side-nav
    %li.sidebar-brand
      %a{ href: '#' } Home
    %li
      %a{ href: '#' } Another link
    %li
      %a{ href: '#' } Next link
    %li
      %a{ href: '#' } Last link
