= link_to available_languages[0][1], '#' , class: 'locale_switch', data: {locale: 'ru'}
|
= link_to available_languages[1][1], '#' , class: 'locale_switch', data: {locale: 'uk'}
|
= link_to available_languages[2][1], '#' , class: 'locale_switch', data: {locale: 'en'}