body {
  margin-top: 100px;

  @media(min-width: 768px) {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;

  @media(min-width: 768px) {
    padding-left: 225px;
  }
}

#page-wrapper {
  background-color: $white;
  padding: 0;
  width: 100%;

  @media(min-width: 768px) {
    padding: 10px;
  }

  .row {
    margin: 0;
  }
}

.huge {
  font-size: 50px;
  line-height: normal;
}

.file-upload-block {
  display: flex;
}

// Top Navigation

.top-nav {
  background-color: $black_222;
  padding: 0 15px;
  li {
    display: inline-block;
    float: left;
    a {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 20px;
      color: $gray;
      &:hover,
      &:focus {
        color: $white;
        background-color: $black;
      }
    }
  }
  .open {
    a,
    a:hover,
    a:focus {
      color: $white;
      background-color: $black;
    }
    .dropdown-menu {
      float: left;
      position: absolute;
      margin-top: 0;
      border: 1px solid $black_op_15;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $white;
      -webkit-box-shadow: 0 6px 12px $black_op_175;
      box-shadow: 0 6px 12px $black_op_175;
      li {
        a {
          white-space: normal;
        }
      }
    }
  }
  .locale-dropdown {
    background-color: $black !important;
  }
}

ul {
  &.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      &.message-preview {
        width: 275px;
        border-bottom: 1px solid $black_op_15;
        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      &.message-footer {
        margin: 5px 0;
      }
    }
  }
  &.alert-dropdown {
    width: 200px;
  }
}

// Side Navigation
.side-nav {
  border: 0;
  overflow-y: auto;
  background-color: $black_222;
  bottom: 0;
  overflow-x: hidden;

  @media(min-width: 768px) {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    padding-bottom: 40px;
  }

  @media(max-width: 767px) {
    left: 15px;
    position: absolute;
    max-height: 300px;
    top: 73px;
    width: 100%;
  }

  li {
    a {
      display: block;
      padding: 10px 15px 10px 38px;
      text-decoration: none;
      color: $gray;
      &:hover,
      &:focus {
        outline: none;
        background-color: $black !important;
        color: $white;
      }

      @media(min-width: 768px) {
        width: 225px;
      }
    }
  }
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: $gray;
  margin-top: 4px;
}

// Custom Colored Panels

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: $light_green;
  .panel-heading {
    border-color: $light_green;
    color: $white;
    background-color: $light_green;
  }
  a {
    color: $light_green;
    &:hover {
      color: $green;
    }
  }
}

.panel-red {
  border-color: $light_red;
  .panel-heading {
    border-color: $light_red;
    color: $white;
    background-color: $light_red;
  }
  
  a {
    color: $light_red;
    &:hover {
      color: $dark_red;
    }
  }
}

.panel-yellow {
  border-color: $dark_yellow;
  .panel-heading {
    border-color: $dark_yellow;
    color: $white;
    background-color: $dark_yellow;
  }

  a {
    color: $dark_yellow;

    &:hover {
      color: $fat_yellow;
    }
  }
}

td.actions {
  a,
  button {
    margin: 5px;
  }
}

