.title {
  margin-left: 70px;
  margin-top: 10px;

  @media screen and (max-width: 1100px) and (min-width: 520px) {
    margin-left: 0;
    position: relative;
  }
  
}

.title-id {
  float: left;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 10px;

  @media screen and (max-width: 1100px) and (min-width: 520px) {
    left: 0;
    position: absolute;
  }

}

.links {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.action {
  padding-bottom: 10px;
}

