-# FIXME: Alive all links.
%footer
  .bg-primary.separator
  .container
    .col-md-3.col-sm-6.col-xs-12
      %ul.list-unstyled
        %li.list-head
          %h4 Категоии
        - all_categories.each do |category|
          %li
            = link_to category.name, '#'
    .col-md-3.col-sm-6.col-xs-12
      %ul.list-unstyled
        %li.list-head
          %h4 Быстрые ссылки
        %li
          %a{href: '#'} Агенции
        %li
          %a{href: '#'} Специальные предложения!
        %li
          %a{href: '#'} Срочные
        %li
          %a{href: '#'} Контольная панель
    .col-md-3.col-sm-6.col-xs-12
      %ul.list-unstyled
        %li.list-head
          %h4 Предложения
        - all_types.each do |type|
          %li
            = link_to type.name, '#'
    .col-md-3.col-sm-6.col-xs-12
      %ul.list-unstyled
        %li.list-head
          %h4 Дополнительно
        %li
          %a{href: '#'} Карта сайта
        %li
          %a{href: '#'} Публичная офферта
        %li
          %a{href: '#'} Политика куки
        %li
          %a{href: '#'} Подать жалобу
        %li
          %a{href: '#'} Сообщить о неисправности
  .bg-success.copy
    .text-center
      Все права пренадлежат FaceIT
      %sup &copy;
      = Date.today.year