-#= form_for @category, admin_category_create_path do |f|
-#  .form-group
-#    .col-sm-3.control-label
-#      = f.label :name
-#      %span{ style: 'color:red;' }
-#        *
-#    .col-sm-9
-#      = f.text_field :name, class: 'form-control'
-#  .form-group
-#    .col-sm-3.control-label
-#      = f.label :weight
-#      %span{ style: 'color:red;' }
-#        *
-#    .col-sm-9
-#      = f.number_field :weight, class: 'form-control'
-#  .actions
-#    = f.submit t('save')
