.page-header
  %h1 Listing categori
%table.table
  %thead
    %tr
      %th #
      %th Название
      %th Вес
  %tbody
    - @categories.each do |category|
      %tr
        %th{:scope => "row"}
        %td
          #{category.name}
        %td
          #{category.weight}
        %td
          = link_to 'Edit', edit_admin_category_path(:id)
          -#= link_to 'Destroy', admin_category, method: :delete, data: { confirm: 'Are you sure?' }


 