%ul.nav.navbar-nav.side-nav
  %li
    %a{ href: '#' } Пользователи
  %li
    = link_to 'Регионы', admin_regions_path
  %li
    %a{ href: '#' } Города
  %li
    %a{ href: '#' } Районы
  %li
    %a{ href: '#' } Категории
  %li
    %a{ href: '#' } Типы