%ul.nav.navbar-nav.side-nav
  %li
    %a{ href: '#' } Пользователи
  %li
    %a{ href: '#' } Регионы
  %li
    %a{ href: '#' } Города
  %li
    %a{ href: '#' } Районы
  %li
    = link_to 'Категории', admin_categories_path
  %li
    %a{ href: '#' } Типы