%ul.nav.navbar-nav.side-nav
  %li
    %a{ href: '#' } Пользователи
  %li
    %a{ href: '#' } Регионы
  %li
    %a{ href: '#' } Города
  %li
    %a{ href: '#' } Районы
  %li
    %a{ href: '#' } Категории
  %li
    %a{ href: '#' } Типы