.modal.fade{ role: 'dialog', id: 'region_modal' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal'}, aria: {label: 'Close' }}
          %span{ aria: { hidden: true} } &times;
        %h4.modal-title#myModalLabel Редактировать регион
      .modal-body
        = form_with scope: :region, url: admin_region_path(:id), method: 'patch', local: true, id: 'update_region_form' do |f|
          .row
            .form-group
              .col-sm-8
                = f.label :name, class: 'control-label'
                = f.text_field :name, id: 'region_name', class: 'form-control', required: true
            .form-group
              .col-sm-8
                = f.submit 'Редактировать', class: 'btn btn-success mart-5'