$white: #fff;
$black-222: #222;
$black: #000;
$gray: #999;
$black-op-15: rgba(0, 0, 0, .15);
$black-op-175: rgba(0, 0, 0, .175);
$light-green: #5cb85c;
$green: #3d8b3d;
$light-red: #d9534f;
$dark-red: #b52b27;
$dark-yellow: #f0ad4e;
$fat-yellow: #df8a13;