%p
  = t('devise.mailer.confirmation_instructions.welcome', name: @resource.full_name)
%p
  = t('devise.mailer.email_changed.alert', email: @resource.try(:unconfirmed_email?) ? @resource.unconfirmed_email : @resource.email)
