%p "Здравствуйте #{@resource.full_name}!"
%p Кто-то запросил ссылку на изменение вашего пароля. Он может быть изменен с помощью данной ссылки:
%p = link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если вы этого не делали, пожалуйста, игнорируйте это письмо.
%p Ваш пароль не будет изменен до тех пора, пока вы не перейдете по указанной ссылки и не введете новый.
