%p "Здравствуйте #{@resource.full_name}!"
%p Ваш аккаунт был заблокирован, так как был достигнут лимит попыток войти в систему.
%p Пожалуйста, воспользуйтесь данной ссылкой, чтобы разблокировать его.
%p = link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token)
