%p
  = t('devise.mailer.confirmation_instructions.welcome', name: @resource.full_name)
%p
  = t 'devise.mailer.unlock_instructions.acc_locked'
%p
  = t 'devise.mailer.unlock_instructions.instruction'
%p
  = link_to t('devise.mailer.unlock_instructions.unlock'), unlock_url(@resource, unlock_token: @token)
